<h1><%= @company.name %></h1>
<% @synths.each do |synth| %>
<h3><%= synth.name %></h3>
<p>Polyphony: <%= synth.polyphony %></p>
<p>Number of Voices: <%= synth.number_of_voices %></p>
<p>Production Years: <%= synth.production_years %></p>
<p>Synth ID: <%= synth.id %></p>
<p>Company ID: <%= synth.company_id %></p>
<p><%= button_to "Delete #{synth.name}", "/synths/#{synth.id}", method: :delete %>
<% end %>
<br>
<p><%= link_to "Add Synth", "/companies/#{@company.id}/synths/new" %></p>
<br>
<p><%= form_with url: "/companies/#{@company.id}/synths", method: :get, local: true do |form|%></p>
  <%= form.label :number_of_voices, "Number of Voices" %>
  <%= form.number_field :number_of_voices %>
  <p><%= form.submit "Return Synths with voice count more than this" %></p>
<% end %>