<h1><%= @synth.name %></h1>
<p>Company: <%= @synth.company.name %></p>
<p>Polyphony: <%= @synth.polyphony %></p>
<p>Number of Voices: <%= @synth.number_of_voices %></p>
<p>Production Years: <%= @synth.production_years %></p>