<p><%= form_with url: '/companies', method: :post, local: true do |form| %></p>
  <p><%= form.label :name %></p>
  <p><%= form.text_field :name %></p>
  <p><%= form.label :country_of_origin %></p>
  <p><%= form.text_field :country_of_origin %></p>
  <p><%= form.label :active %></p>
  <p><%= form.radio_button :active, true %>
  <%= form.label :active_true, "True" %>
  <%= form.radio_button :active, false %>
  <%= form.label :active_true, "False" %>
  <p><%= form.label :years_in_operation %></p>
  <p><%= form.text_field :years_in_operation %></p>

  <p><%= form.submit "Create Company" %></p>
<% end %>