<h1><%= @company.name %></h1>
<p>Country of Origin: <%= @company.country_of_origin %></p>
<p>Active?: <%= @company.active %></p>
<p>Years in Operation: <%= @company.years_in_operation %></p>
<p>Number of Synths: <%= @company.synths.count %></p>